
  @media screen and (max-width:680px) {
  ul.topnav li.icon {
    display: inline-block;
    
    
  }

footer{
  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #f2f2f2;
  text-align: center;
  margin: 0px;
  width: 100%;
  
}
}
  @media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    
   footer{
  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #f2f2f2;
  text-align: center;
  margin: 0px;
  width: 100%;
  
} 


…


  ul.topnav.responsive li { 
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  
  }
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
  }
ul.topnav li a:hover {
  background-color: #555;
  }

html{
  height: 100%;
}
body {
  margin: 0;
  padding-top: 70px;
  position: relative;
  font-family: "adriane", Georgia, serif;
  min-height: 100%;
  padding-bottom:40px;

}
.contact {
  color: white;
  text-align: center;
  position: relative;
  top: 35%;
}
.homeheader {
   text-align: center;
   font-variant: small-caps
}
/*home page*/
.headshot {
  height: 100%;
  width: 100%;
  position: relative;
  top: 20%;
}
.briefintro {
  text-align: center; 
  padding: 40px;
  font-size: 15px;
}
.baxter {
  font-size: 20px;
}
.whatIKnow{
  font-size: 20px;
}
/*about page*/
.cooking {
  height: 100%;
  width: 100%;
  position: relative;
}
.about{
  padding: 40px;
}
.aboutme {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-variant: small-caps; 
}
.about-me{
  font-size: 15px;
}
.music {
  height: 100%;
  width: 100%;
  position: relative;
  top: 20%;
}
.warmframes{
  color:black;
}
.warmframes:visited{
  color:black;
}
/* portfolio page*/
/*.portfolio {
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-variant: small-caps
}


.recordapi {
  display: inline-block;
  position: relative;
}
.align-api{
  text-align: center;
  text-decoration: underline; 
  font-size: 30px;
}
.record-text {
  height: 473.93px;
  font-size: 18px;
}
.record-text > p {
  top: 45%;
  position: relative;;

}

.mockhome {
  height: 100%;
  width: 100%;
  float: left;
}
.journal {
  display: inline-block;
  position: relative;
}

.align-blog{
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
 
}
.journal-text {
  height: 473.93px;
  font-size: 18px;
}
.journal-text > p {
  top: 45%;
  position: relative;;
}

.mockjournal {
  height: 100%;
  width: 100%;
  float: right;
}
.movieapi {
  display: inline-block;
  position: relative;
}
.align-movie{
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
}
.movie-text {
  height: 473.93px;
  font-size: 18px;
}
.movie-text > p {
  top: 45%;
  position: relative;;
  
 
}*/
/*.mockmovie {
  height: 100%;
  width: 100%;
  float: left;
}*/

/*Portfolio2*/
.container-fluid{
  padding: 0px;
}
.portfolio-header{
  text-align:center;
  padding: 60px;
  font-variant:small-caps;
  font-size: 30px;
}
.thumbs{
  text-align: center;
  padding: 20px;
}
.img-responsive{
  width:100%;
}

/*resume*/

@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


.resume{
  text-align:center;
  font-size:25px;
  font-variant: small-caps
}
.skills{
  text-decoration: underline;
}

.educate{
  text-decoration:underline;
}
.school,.sanagan, .barisabel,.torst,.boulud,.gourmet,.noodlebox,.jazzfest,.joeys, {
  font-size: 10px;
}
.issylink{
  color:black;
}
.issylink:visited{
  color:black;
}
.workin{
  text-decoration:underline;
}
.Education{
  animation: fadeInLoad 2s;
}
.workin{
  animation: fadeInLoad 3s;
}
.Sanagans{
   animation: fadeInLoad 3.5s;
}
.Isabel{
  animation: fadeInLoad 4s;
}
.Luksus{
  animation: fadeInLoad 4.5s;
}
.dbar{
  animation: fadeInLoad 5s;
}
.Lazy{
  animation: fadeInLoad 5.5s;
}
.noodles{
  animation: fadeInLoad 6s;
}
.Jazz {
  animation: fadeInLoad 6.5s;
}
.joey{
  animation: fadeInLoad 7s;
}
/*footer*/
footer{
  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #f2f2f2;
  text-align: center;
  margin: 0px;
  width: 100%;
  
}

a:hover {
  color: #555;
  }
a:visited{
   color: #f2f2f2;
}
.insta {
  padding-right: 5px;
  color: white;
}
.twitta {
  padding-right: 5px;
  color: white;
}
.linked {
  padding-right: 5px;  
  color: white;
}
.git {
  right: 5px;  
  color: white;
  padding-bottom: 0px;
}